:root {
    --min-center-column: calc(var(--column) - 4rem)
}

.sample {
    margin-top   : 2rem;
    margin-bottom: 2rem;
}

.sample :is(.left, .right) {
    max-width: calc((100vw - var(--min-center-column)) / 2);
}

.sample .center {
    max-width: var(--min-center-column);
}

.sample .center:not(:has(iframe)) {
    pointer-events: none;
}


.sample .markdown {
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
}



.markdown p {
    padding: 0;
    margin : 0;
}

:is(.left, .right) .before {
    flex-grow: 0;
}