.dropdown {
    position: relative;
}

.dropdown>.summary {
    /* Make sure to give it a tabindex=1 attribute so it's focusable */
    background   : #ff7777;
    color        : darkblue;
    white-space  : nowrap;
    border-radius: 1.5px;
    display      : inline;
    cursor       : pointer;
}

.dropdown>.summary:active {
    outline       : 1px dotted currentColor;
    outline-offset: -0.5px;
}

.dropdown>.summary>p {
    display: inline;
}

.dropdown>.popup>p {
    display: inline-block;
    padding: 0.2rem;
    margin : 0;
}

.dropdown>.summary:focus,
.dropdown>.summary:focus-within,
.dropdown>.summary:active {
    filter       : invert(1);
    background   : yellow;
    outline-color: yellow;
}

.dropdown:not(:focus-within)>.summary~* {
    opacity       : 0;
    pointer-events: none;
    filter        : blur(2px)
}

.dropdown>.summary~* {
    position     : absolute;
    border       : 0.5px solid currentColor;
    background   : rgb(231, 228, 171);
    padding      : 0 0.2rem;
    box-shadow   : 6px 6px currentColor;
    min-width    : 100%;
    width        : max-content;
    max-width    : 12rem;
    border-radius: 2px;
    transition   : all .2s;
    left         : -0.5px;
    top          : 1.3rem;
}

/*********************/

.bevelled.yellow {
    border    : 3px outset #ed3;
    outline   : 0.5px solid black;
    background: #dc3;
}

.bevelled.yellow:active {
    border    : 3px outset #ed3;
    outline   : 0.5px solid black;
    background: #dc3;
    border    : 3px inset #cb0;
    background: #ba0;
}

.bevelled.yellow .summary:focus,
.bevelled.yellow .summary:focus-within {
    border    : 3px inset #cb0;
    background: #ba0;
}

/*********************/

p:only-child,
.legend-container>p {
    display: inline;
}

.legend-container>*:after,
.legend-container>*:before {
    content: ' '
}

/*********************/

.left>.legend,
.right>.legend {
    width    : min-content;
    max-width: 100%;
}

.left {
    align-items: flex-end;
}

@media only screen and (min-width: 800px) {

    .left>.legend,
    .right>.legend {
        width: max-content;
    }

    .left,
    .right {
        overflow: visible;
    }
}

.left,
.right {
    z-index: 0;
}


.right .legend-container {
    float: right
}

.center {
    z-index: 1;
}



:has(:is(.left, .right) :is(:hover, :focus))>.center {
    z-index: -1 !important;
}

img {
    pointer-events: none;
}

.popup {
    z-index: 8
}